:root {
  --tempColor: #94a3b8;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header {
  background-color: var(--tempColor);
  width: 100%;
  text-align: center;
}

#mainWrap {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 40px;
}

#playerWrap {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

#btnWrap {
  align-self: center;
}

.cell {
  display: flex;
  border: solid black 1.2px;
  justify-content: center;
  align-items: center;
  font-size: xx-large;

}
#gameboard > div:nth-child(1),
#gameboard > div:nth-child(2),
#gameboard > div:nth-child(3) {
  border-top: 0;
}
#gameboard > div:nth-child(7),
#gameboard > div:nth-child(8),
#gameboard > div:nth-child(9) {
  border-bottom: 0;
}
#gameboard > div:nth-child(1),
#gameboard > div:nth-child(4),
#gameboard > div:nth-child(7) {
  border-left: 0;
}
#gameboard > div:nth-child(3),
#gameboard > div:nth-child(6),
#gameboard > div:nth-child(9) {
  border-right: 0;
}

footer  {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0;
  background-color: var(--tempColor);
  height: 60px;
  width: 100%;
}

footer img  {
  padding: 5px;
  height: 3.5rem;
}

