:root {
  --tempColor: #94a3b8;
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

header {
  background-color: var(--tempColor);
  width: 100%;
  text-align: center;
}

#form {
  position: absolute;
  visibility: hidden;
  top: 15%;
  border: solid black;
  border-radius: 12px;
  padding: 10px;
  background-color: white;
  box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.5);
}

#formBtnWrap {
  display: flex;
  justify-content: center;
  gap: 15px;
}

#formBtnWrap button {
  border-radius: 6px;
  border: solid black;
}

label {
  font-weight: 500;
  margin-right: 5px;
}

#mainWrap {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 30px;
  margin: 15px 0;
}

#btnWrap {
  align-self: center;
  display: flex;
  gap: 10px;
}

#playerWrap {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

#playerOneWrap,
#playerTwoWrap  {
  width: 30%;
  padding: 5px;
  border-radius: 8px;
}

p {
  margin: 0;
  line-height: 24px;
  width: 100%;
}

#playerOneWrap > p:first-child, 
#playerTwoWrap > p:first-child {
  height: 1.4rem;
  font-size: 1.3rem;
  width: fit-content;
  font-style: italic;
}

.cell {
  display: flex;
  border: solid black 1.2px;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: 500;

}
#gameboard > div:nth-child(1),
#gameboard > div:nth-child(2),
#gameboard > div:nth-child(3) {
  border-top: 0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
#gameboard > div:nth-child(7),
#gameboard > div:nth-child(8),
#gameboard > div:nth-child(9) {
  border-bottom: 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
#gameboard > div:nth-child(1),
#gameboard > div:nth-child(4),
#gameboard > div:nth-child(7) {
  border-left: 0;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
#gameboard > div:nth-child(3),
#gameboard > div:nth-child(6),
#gameboard > div:nth-child(9) {
  border-right: 0;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

#gameResult {
  height: 4rem;
  font-size: 2.5rem;
  text-align: center;
}

footer  {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0;
  background-color: var(--tempColor);
  height: 60px;
  width: 100%;
}

footer img  {
  padding: 5px;
  height: 3.5rem;
}

